{
  "extends": "eslint-config-airbnb/base",
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": [2, "always-multiline"],
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "no-alert": 0,
    "no-console": 0,
    "no-undef": 1,
    "id-length": 0,
    "no-param-reassign": [2, {
      "props": false
    }],
    "new-cap": [2, {
      "capIsNewExceptions": ["express.Router"]
    }],
    "eqeqeq": [2, "smart"],
    "max-len": 0,
  },
  "env": {
    "node": true
  }
}
